/* You can add global styles to this file, and also import other style files */
#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: transparent;
  }
  /* From Uiverse.io by rillala */ 
.spinner {
  position: relative;
  width: 25px;
  height: 40px;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: transparent;
  transform: rotate(calc(var(--rotation) * 1deg))
    translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
  color: #fc713e;
  text-align: end;
  font-weight: 700;
  font-size: 20px;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner .middle {
  position: relative;
  background: transparent;
  top: 15px;
  left: -30px;
  color: #f09f9f;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

div.icon-1,
div.icon-2 {
  background: transparent;
}

.icon-1 svg {
  transform: rotate(180deg);
  position: relative;
  left: -15px;
}

.icon-2 svg {
  position: relative;
  left: -15px;
}

@keyframes spinner-fzua35 {
  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1.5%));
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.btn-naranja-swal {
  margin: 10px 10px 0 0;
  background-color: #fc713e;
  border: 3px solid #fc713e; /* Mejor usar border que outline */
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 400ms;
  box-sizing: border-box; /* 🔑 Esto evita que se desborde por padding o borde */
}

.btn-naranja-swal:hover {
  background-color: transparent;
  color: black;
}

.btn-cancel {
  
 margin: 10px 10px 0 0;
  background-color: #575756;
  border: 3px solid #575756; /* Mejor usar border que outline */
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 400ms;
  box-sizing: border-box; 
}

.btn-cancel:hover {
  background-color: transparent !important;
  color: black !important;
}