<footer class="bg-light text-center text-lg-start text-dark">
    <div class="container p-4">
        <div class="row my-4">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                    style="width: 150px; height: 150px;">
                    <img src="https://mdbootstrap.com/img/Photos/new-templates/animal-shelter/logo.png" height="70"
                        alt="Foto Mascotas" />
                </div>

                <p class="text-center">Adopta una mascota, cambia una vida</p>

                <ul class="list-unstyled d-flex flex-row justify-content-center">
                    <li>
                        <a class="text-dark px-2" href="#!">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-dark px-2" href="#!">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-dark ps-2" href="#!">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">PetHome</h5>

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/inicio" class="text-dark"><i class="fas fa-paw pe-3"></i>Inicio</a>
                    </li>
                    <li class="mb-2">
                        <a href="/adopta" class="text-dark"><i class="fas fa-paw pe-3"></i>Adopta</a>
                    </li>
                    <li class="mb-2">
                        <a href="/organizaciones" class="text-dark"><i class="fas fa-paw pe-3"></i>Organizaciones</a>
                    </li>
                    <li class="mb-2">
                        <a href="/aviso-legal" class="text-dark"><i class="fas fa-paw pe-3"></i>Aviso Legal</a>
                    </li>
                    <li class="mb-2">
                        <a href="/politica-privacidad" class="text-dark"><i class="fas fa-paw pe-3"></i>Política de
                            Privacidad</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Contacto</h5>

                <ul class="list-unstyled">
                    <li>
                        <p><i class="fas fa-phone pe-2"></i>+34 666 999 111</p>
                    </li>
                    <li>
                        <p><i class="fas fa-envelope pe-2 mb-0"></i>info&#64;pethome.com</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="text-center p-3 mb-0">
        Esta obra está bajo una licencia
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer">
            Creative Commons Atribución/Reconocimiento-CompartirIgual 4.0 Internacional
        </a>.
        <img src="/assets/img/CC_BY-SA_icon.png" alt="Licencia Creative Commons BY-SA 4.0"
        width="80">
    </p>
    

</footer>